@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /* Font Family */
  --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Font Sizes */
  --text-xs-micro: 10px;
  --text-xs-micro--line-height: 1.5;
  --text-xs: 12px;
  --text-xs--line-height: 1.5;
  --text-sm: 14px;
  --text-sm--line-height: 1.5;
  --text-base: 16px;
  --text-base--line-height: 1.5;
  --text-lg: 20px;
  --text-lg--line-height: 1.4;
  --text-xl: 24px;
  --text-xl--line-height: 1.3;
  --text-2xl: 32px;
  --text-2xl--line-height: 1.2;
  --text-3xl: 48px;
  --text-3xl--line-height: 1.1;

  /* Netral Palette */
  --color-neutral-0: #f9f9f9;
  --color-neutral-10: #f0f0f0;
  --color-neutral-20: #cccccc;
  --color-neutral-30: #b3b3b3;
  --color-neutral-40: #999999;
  --color-neutral-50: #808080;
  --color-neutral-60: #666666;
  --color-neutral-70: #4d4d4d;
  --color-neutral-80: #222222;
  --color-neutral-90: #1a1a1a;

  /* Primary Palette */
  --color-primary-100: #0c214e;
  --color-primary-90: #133276;
  --color-primary-80: #19429d;
  --color-primary-70: #1f53c4;
  --color-primary-base: #2563eb;
  --color-primary-50: #5182ef;
  --color-primary-40: #7ca1f3;
  --color-primary-30: #a8c1f7;
  --color-primary-20: #d3e0fb;
  --color-primary-10: #f4f7fe;

  /* Secondary Palette */
  --color-secondary-100: #533847;
  --color-secondary-90: #7d546a;
  --color-secondary-80: #a6708d;
  --color-secondary-70: #cf8cb1;
  --color-secondary-base: #f9a8d4;
  --color-secondary-50: #fab9dd;
  --color-secondary-40: #fbcbe5;
  --color-secondary-30: #fddcee;
  --color-secondary-20: #feeef6;
  --color-secondary-10: #fffbfd;

  /* Tertiary Palette */
  --color-tertiary-base: #fcd34d;
  --color-tertiary-50: #fddc71;
  --color-tertiary-40: #fde594;
  --color-tertiary-30: #feedb8;
  --color-tertiary-20: #fef6db;
  --color-tertiary-10: #fffdf6;

  /* Status: Success */
  --color-success-100: #16803d;
  --color-success-base: #16a34a;
  --color-success-50: #50ba77;
  --color-success-20: #8ad1a4;
  --color-success-10: #c5e8d2;

  /* Status: Error */
  --color-error-100: #b61919;
  --color-error-base: #dc2626;
  --color-error-50: #e55c5c;
  --color-error-20: #ed9292;
  --color-error-10: #f6c9c9;

  /* Status: Info */
  --color-info-100: #1a66e1;
  --color-info-base: #3b82f6;
  --color-info-50: #6ca1f8;
  --color-info-20: #9dc1fb;
  --color-info-10: #cee0fd;

  /* Status: Warning */
  --color-warning-100: #d18607;
  --color-warning-base: #f59e0b;
  --color-warning-50: #f7b648;
  --color-warning-20: #facf85;
  --color-warning-10: #fde7c2;

  /* Absolute */
  --color-absolute-bg: #fbfcff;
  --color-absolute-black: #000000;
  --color-absolute-white: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    @apply bg-primary-base hover:bg-blue-700 text-white px-[28.5px] py-3.5 rounded-lg font-bold flex items-center gap-2 shadow-md shadow-blue-500/20;
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-left {
  animation: marquee-left 30s linear infinite;
  will-change: transform;
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-right {
  animation: marquee-right 30s linear infinite;
  will-change: transform;
}

.animate-marquee-left:hover,
.animate-marquee-right:hover {
  animation-play-state: paused;
}
